{
    "name": "{{gitUserId}}/{{gitRepoId}}",
    {{#artifactVersion}}
    "version": "{{artifactVersion}}",
    {{/artifactVersion}}
    "description": "Official Criteo PHP Marketing SDK",
    "keywords": [
        "criteo",
        "marketing",
        "openapi generator",
        "php",
        "sdk",
        "rest",
        "api"
    ],
    "homepage": "https://api.criteo.com",
    "license": "Apache-2.0",
    "authors": [
        {
            "name": "Criteo",
            "homepage": "https://github.com/criteo/criteo-php-marketing-sdk"
        }
    ],
    "require": {
        "php": ">=7.1",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "^6.2"
    },
    "require-dev": {
        "phpunit/phpunit": "^7.4",
        "squizlabs/php_codesniffer": "~2.6",
        "friendsofphp/php-cs-fixer": "~2.12",
        "mockery/mockery": "^1.3"
    },
    "autoload": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/" }
    },
    "autoload-dev": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{testBasePath}}/" }
    }
}
